<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.kh.mixmatch.match.dao.MatchMapper">
	
	<select id="matchList" parameterType="map" resultType="matchCommand">
		
		<if test="board == 'match'">
			SELECT * FROM (SELECT a.*,rownum rnum FROM (SELECT m.*,t.t_logo,t.t_logo_name FROM  g_match m, (SELECT * FROM g_team)t 
			<where>
				m.t_name = t.t_name AND m.m_type = #{type}
			</where>
			ORDER BY m.m_seq DESC)a)
		</if>
		<if test="board == 'score'">
			SELECT * FROM (SELECT a.*,rownum rnum FROM (SELECT * FROM (SELECT b.*, t2.id away_id FROM
			(SELECT m.*,t.id home_id FROM g_team t , g_match m WHERE t.t_name=m.t_name)b, g_team t2 
			WHERE b.m_challenger=t2.t_name)d WHERE d.home_id!='DEL-TEAM' AND d.away_id!='DEL-TEAM' AND m_type=#{type}
			ORDER BY m_seq DESC)a)
		</if>
		<if test="board =='toto'">
			SELECT * FROM (SELECT a.*,rownum rnum FROM (SELECT * FROM (SELECT b.*, t2.id away_id FROM
			(SELECT m.*,t.id home_id FROM g_team t , g_match m WHERE t.t_name=m.t_name)b, g_team t2 
			WHERE b.m_challenger=t2.t_name)d WHERE d.home_id!='DEL-TEAM' AND d.away_id!='DEL-TEAM' AND m_type=#{type} AND m_home=-1
			ORDER BY m_seq DESC)a)
		</if>
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>	
	</select>	
	
	<select id="getRowCount" parameterType="map" resultType="integer">
		
		<!-- 
		SELECT count(*) FROM g_match
		<where>
			<if test="board == 'match'">
				m_challenger is null AND m_type = #{type} 
			</if>
			<if test="board == 'score'">
				m_challenger is not null AND m_type = #{type}
			</if>
			<if test="board == 'toto'">
				m_challenger is not null AND m_home = -1 AND m_type = #{type}
			</if>
		</where>
		
		
			
		 -->
		
			<if test="board == 'match'">
			SELECT count(*) FROM g_match m, (SELECT * FROM g_team)t WHERE m.t_name=t.t_name AND
				m_challenger is null AND m_type = #{type}
				AND t.id!='DEL-TEAM' 
			</if>
			<if test="board == 'score'">
			
			SELECT count(*) FROM (SELECT a.*, tt.id a_id FROM g_team tt, (SELECT m.*, t.id h_id FROM g_match m, (SELECT * FROM g_team)t 
		WHERE
			m.t_name = t.t_name AND
		
				m_challenger is not null AND m_type = #{type})a  WHERE tt.t_name=a.m_challenger) WHERE a_id != 'DEL-TEAM' AND h_id!='DEL-TEAM'
			</if>
			<if test="board == 'toto'">
			SELECT COUNT(*) FROM (SELECT a.*, tt.id a_id FROM g_team tt, (SELECT m.*, t.id h_id FROM g_match m, (SELECT * FROM g_team)t 
		WHERE
			m.t_name = t.t_name AND
		
				m_challenger is not null AND m_type =#{type})a  WHERE tt.t_name=a.m_challenger) WHERE a_id != 'DEL-TEAM' AND h_id!='DEL-TEAM' AND m_home=-1
			</if>
		
		
	</select>
	
</mapper>