@CHARSET "UTF-8";

.match-div {
	width: 90%;
	margin: 0 auto;
}
.match-form {
	padding: 20px;
	border: 1px solid #BDBDBD;
}
.match-hr {
	border: 2px dashed #BDBDBD;
}
.match-btn {
	width: 80px;
	height: 30px;
	background: #BDBDBD;
	border:0;
}
.match-btn:hover {
	background: #A3A3A3;
	color: #fff;
}
.team-btn {
	width: 55px;
	height: 25px;
	background: #E8D477;
	border: 1px solid #e5bb00;
	font-size: 12px;
}
.select-btn {
	width: 80px;
	height: 30px;
	background: #25C9E4;
	color: #fff;
	border:0;
}
.dis-btn {
	width: 80px;
	height: 30px;
	background: #EAEAEA;
	color: #BDBDBD;
	border:0;
}
.match-table, .detail-table {
	width: 80%;
	margin: 0 auto;
}
.match-table th {
	padding: 10px;
	background: #EAEAEA;
	border-top: 2px solid #BDBDBD;
	text-align: center;
}
.match-table tr {
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
}
.match-table td {
	height: 80px;
}
.match-table a {
	color: #333333;
}
.match-table a:hover {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
.list-table, .insert-table {
	width: 50%;
	margin: 0 auto;
}
.list-table tr {
	border: 3px solid #fff;
	background: #EAEAEA;
}
.left-style {
	background: #C6C6C6;
}
.option-box {
	width: 160px;
	height: 30px;
	padding-left: 5px;
}
.insert-table tr {
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
}
.insert-table th {
	width: 100px;
	padding: 10px;
	background: #EAEAEA;
}
.insert-table td {
}
.detail-list {
	width: 500px;
	text-align: center;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	border-collapse: collapse;
}
.detail-list tr {
	height: 40px;
}
.detail-list th {
	text-align: center;
}