@CHARSET "UTF-8";
/*-------------------------------  -----------------------------*/
.ranking{
	margin:0 auto;
	width:100%;
}
.ranking th{
	font-size:large;
	text-align: center;
	border-top:2px solid #BDBDBD;
	border-bottom:2px solid #BDBDBD;
}
.ranking td{
	height:65px;
}
#profile,#regdate{
	width:150px;
	
}
#myteamRank{
	margin:0 auto;
}
#myteamRank th{
	width:80px;
	font-size: large;
	text-align: center;
	border-top:2px solid #BDBDBD;
	border-bottom:2px solid #BDBDBD;
}